.userContainer {
  h1 {
    text-align: center;
    margin-top: 1rem;
  }
  .userRow {
    justify-content: center;
    margin: 2rem;
    .col {
      margin: 0.5rem;
      border: 0.1rem solid lightcoral;
      width: 20vw;
      .delBtn {
        margin-bottom: 1rem;
      }
      .editBtn {
        margin-left: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
  .modalContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.689);
    top: 0;
    left: 0;
    .editModal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      width: 60%;
      height: 60%;
      
    }
  }
}
