@import "../../color";

.Boolean {
  margin: 1rem;
  h2 {
    span {
      color: $color4;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
  .left,
  .right {
    border: none;
    border-radius: 5vw;
    padding: 0.5rem 1rem;
    background-color: $color5;
    color: $color2;
    margin: 1rem;
    &:hover {
      background-color: $color2;
      border: 0.2rem solid $color5;
      color: $color5;
    }
  }
}
