@import "./color";

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color1;
  color: $color2;
  z-index: 5;
  h1 {
    text-align: center;
    margin-left: 2rem;
  }
  .nav {
    margin-left: 3rem;
    .nav-link {
      color: $color2;
      &:hover {
        color: $color4;
        font-weight: bold;
        border-bottom: 0.1rem solid $color4;
      }
    }
  }
}

//Boolean and Student
.App {
  background-image: url(./img/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  padding-top: 3.5rem;
  .Boolean {
    width: 100%;
    text-align: center;
    border-radius: 4vw;
    background-color: rgba(255, 255, 255, 0.669);
    padding: 1rem;
  }
  .Student {
    width: 100%;
    text-align: center;
    border-radius: 5vw;
    background-color: rgba(255, 255, 255, 0.669);
    padding: 1rem;
    margin: 1rem;
    .shuffleButton {
      border: none;
      border-radius: 5vw;
      padding: 0.5rem 1rem;
      background-color: $color5;
      color: $color2;
      margin: 1rem;
      &:hover {
        background-color: $color2;
        border: 0.2rem solid $color5;
        color: $color5;
      }
    }
  }
}

//meme
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Meme {
  background-image: url(https://i.gifer.com/40iN.gif);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding-top: 3.5rem;
  overflow: hidden;
  // font-family: 'Recursive', sans-serif;
  font-family: "Alfa Slab One", cursive;
  h2 {
    font-family: "Monoton", cursive;
    color: yellow;
    padding-top: 2rem;
    text-align: center;
  }
}

//Vote
.Vote {
  padding-top: 3.5rem;
  background-image: url(./img/bg2.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  h2 {
    padding-top: 2rem;
    text-align: center;
  }
}

//footer
.footer {
  text-align: center;
  padding: 1rem;
  background-color: $color1;
  color: $color2;
  i {
    color: yellow;
    &:hover {
      color: crimson;
    }
  }
}
