form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a9a9a9;
  border-radius: 3vw;
  .closeBtn {
    border-radius: 3vw;
    outline: none;
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 5%;
  }
  label {
    margin: 1rem;
    input {
      margin-left: 0.5rem;
      border-radius: 5vw;
      outline: none;
    }
    .emailInput {
      width: 30vw;
    }
    .phraseInput {
      width: 30vw;
    }
  }
  .saveBtn {
    border-radius: 3vw;
    outline: none;
    width: fit-content;
    margin-left: 1rem;
  }
}
