form {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.731);
  border-radius: 3vw;
  .closeBtn {
    border-radius: 3vw;
    outline: none;
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 5%;
    border: 0.1rem groove #98ddca;
    background-color: #edffec;
    &:hover {
      background-color: #98ddca;
    }
  }
  .id {
    display: none;
  }
  label {
    margin: 1rem;
    input {
      margin-left: 0.5rem;
      border-radius: 5vw;
      outline: none;
      padding: 0.5rem;
    }
    .email {
      width: 30vw;
    }
    .phrase {
      width: 30vw;
    }
  }
  .saveBtn {
    border-radius: 3vw;
    outline: none;
    width: fit-content;
    margin-left: 1rem;
    border: 0.1rem groove #98ddca;
    background-color: #edffec;
    &:hover {
      background-color: #98ddca;
    }
  }
}
